body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    font-size: 1.6em;
    font-weight: bold;
}

header p a {
    background-color: transparent;
    text-decoration: underline;
    color: #007BFF; /* Standard link blue */
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 10px;
    padding-bottom: 0;
}

section:last-child {
    border-bottom: none;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.job, .degree {
    margin-bottom: 10px;
}

.job h4 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.job ul {
    list-style: disc;
    padding-left: 20px;
}

html[lang="he"] .job ul {
    padding-right: 20px;
    padding-left: 0;
}

.job ul ul {
    padding-left: 20px;
}

.job ul li {
    margin-bottom: 5px;
}

button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

html[lang="he"] body {
    direction: rtl;
    text-align: right;
}

html[lang="he"] h2 {
    border-bottom: 2px solid #333;
}

html[lang="he"] ul {
    /* Removed: padding: 0; */
} 